body {
    margin: 0;
    background-color: black;

}

.nav {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: white
}

.active{
    color: white !important;
    text-decoration: none;
}

.nav-link {
    margin: 20px;
    color: white !important;
    text-decoration: none;
}

.item_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item_wrapper::-webkit-scrollbar {
    display: none;
}

img {
    margin: 8px;
}