body{
    margin: 0;
    background-color:black;
    
}
.nav{
    display: flex;
    font-size: 16px;
    
}
.link{
    margin: 20px;
    color: white;
    text-decoration: none;  
}
.active{
    margin: 20px;
    color: white;
    text-decoration: none;  
    
}
.rmnc{
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
}
.rmnc::-webkit-scrollbar{
    display: none;
}
img{
    margin: 8px;
}