body {
    margin: 0;
    background-color: black;

}

.nav {
    display: flex;
    font-size: 16px;
}

.link {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.item_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item_wrapper::-webkit-scrollbar {
    display: none;
}

img {
    margin: 8px;
}